.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-duration: 0.8s;
    animation-name: aparecer;
    animation-direction: normal;
    animation-iteration-count: 1;
    background-color: #082844;

    .logo {
        margin: 10px 20px;

        img {
            width: 60px;
            height: 60px;
        }
    }

    .navbar-toggler {
        border: none;
    
        .hamburgerIcon {
            color: map-get($map: $palette, $key: 'detail-text-color');
            font-size: 30px;
        }
    }

    .navbar-nav .nav-link {
        color: map-get($map: $palette, $key: 'white-text-color');
    
        &:hover {
            color: map-get($map: $palette, $key: 'detail-text-color');
        }
    }

    .containerBtn {
        padding: 0 50px;
    
        a{
            border: 1px solid map-get($map: $palette, $key: 'detail-text-color');
            border-radius: 5px;
            color: map-get($map: $palette, $key: 'detail-text-color');
    
            &:hover{
                background-color: rgb(246, 116, 129, 0.1);
            }
        }
    }    
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}