.child-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.child-image img {
    width: 100%;
    filter: grayscale(100%) contrast(1);
    border-radius: 2%;
    margin-top: 25px;

    &:hover {
        filter: none;
    }
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: $text-color2;
    font-size: small;
    list-style: none;
    margin: 10px 0px;

    li::before {
        color: $detail-text-color;
        content: "►";
        display: inline-block;
        width: 20px;
    }

    li {
        margin: 0 0 10px 15px;
        font-family: $font-mono;
        white-space: nowrap;

        span{
            color: $white-text-color;
        }
    }

    .--bg-color-advanced {
        background-color: #ff2238;
    }
    
    .--bg-color-intermediate {
        background-color: #ff4b5d;
    }
    
    .--bg-color-basic {
        background-color: $detail-text-color;
    }
}


